$black: #000000;
$white: #ffffff;
$yellow: #ffea21;
$blue: #019eed;
$lightBlue: #cde7f4;
.h1 {
   // font-size: 32px;
   @include adaptiv("font-size", 32, 17);
}
.h2 {
   font-size: 22px;
}
.h3 {
   font-size: 20px;
}
.h4 {
   font-size: 16px;
}
