html,
body {
	cursor: default;
	height: 100%;
	font-family: "Open Sans";
	font-weight: 600;
	font-style: normal;
	font-size: 18px;
	color: $black;
	overflow-x: hidden;
}
textarea {
	resize: none;
}
.wrapper {
	display: flex;
	flex-direction: column;
	min-height: 100%;
}

.main {
	flex: 1 0 auto;
	position: relative;
}
.footer {
	flex: 0 0 auto;
}
.container {
	max-width: 1470px;
	margin: 0 auto;
	padding: 0px 15px;
	height: 100%;
}
input,
textarea {
	appearance: none;
	outline: none;
}

.breadcrumbs {
}

.d-flex {
	display: flex !important;
}

//Ввод данных конец
.burger {
}

.off {
	display: none !important;
}

.checkbox {
	position: relative;
}
.checkbox-none,
.radio-none {
	position: absolute;
	width: 1px;
	height: 1px;
	overflow: hidden;
	clip: rect(0 0 0 0);
}
.checkbox-style {
	display: block;
	cursor: pointer;
	width: 22px;
	height: 21.82px;
	border: 1.5px solid #ffffff;
	border-radius: 2px;
}
.checkbox-none:checked + .checkbox-style {
	background: url("../images/SVG/check.svg") 4px 5px no-repeat;
	color: #000;
}
.radio-style {
	position: relative;
	display: block;
	cursor: pointer;
}
.radio-none:checked + .radio-style::before {
	content: " ";
}
.form-policy-radio .radio-none:checked + .radio-style {
	background: $white;
	color: $blue;
}
.form-policy-radio {
	display: flex;
	&:not(:last-child) {
		margin-right: 24px;
	}
	.radio-style {
		@extend %itemCenter;
		min-width: 200px;
		padding: 10px 20px 11px;
		font-size: 22px;
		line-height: 143.18%;
		border: 2px solid #ffffff;
		box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
	}
}
// popup
.popup {
	display: none;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 99999;
	width: 100vw;
	height: 100%;
	min-height: 100%;
	overflow-y: auto;
	// overflow: hidden;
	&__body {
		// background: $text1;
		background: rgba(11, 11, 11, 0.4);
		width: 100%;
		min-height: 100%;
		display: flex;
		align-items: center;
		justify-content: center;
		overflow: hidden;
	}
	&__content {
		margin: 20px 50px;
		max-width: 1090px;
		width: 100%;
		// max-height: 910px;
		background: $white;
		padding: 80px 26px 95px 80px;
		// overflow-y: auto;
		// overflow: hidden;
		position: relative;
	}
	.popup-close {
		position: absolute;
		top: 0;
		left: calc(100% + 22px);
		cursor: pointer;
	}
}

// popup end

.input {
	width: 100%;
	line-height: 143.18%;
	display: block;
	padding: 10.5px 16px;
	border-bottom: 2px solid $white;
	font-weight: 400;
	box-sizing: border-box;
	&::placeholder {
		font-weight: 400;
		color: $white;
	}
}

// header start

.header {
	&__content {
		padding-top: 70px;
		display: flex;
		align-items: center;
		justify-content: space-between;
	}

	&__contact-us {
		display: flex;
	}

	&__link {
		display: flex;
		align-items: center;
		font-weight: 400;
		&:not(:last-child) {
			margin-right: 45px;
		}
		.icon {
			margin-right: 6px;
			font-size: 17px;
			&-telegram {
				color: $blue;
			}
			&-viber {
				color: #8e24aa;
			}
		}
	}

	&__toggle {
		display: flex;
		align-items: center;
		background: #f5f5f5;
		border: 1px solid #dfdfdf;
		border-radius: 13px;
		padding: 2px;
	}

	&__toggle-item {
		font-size: 14px;
		padding: 8px 17px;
		&:not(:last-child) {
			margin-right: 2px;
		}
		&.active {
			padding: 8px 25px;
			border-radius: 12px;
			&.active-yellow {
				background: $yellow;
			}
			&.active-blue {
				background: $blue;
				color: $white;
			}
		}
	}
}
.logo {
	transform: translateY(-13px);
	width: 300px;
	height: 60px;
	@extend %imgContain;
}
.lang {
	position: relative;
	&.open {
		.lang__body {
			// display: block;
			height: 300%;
		}
		.icon-triangle-right {
			transform: rotate(270deg);
		}
	}
	&__head {
		display: flex;
		cursor: pointer;
		align-items: center;
		position: relative;
		.icon-triangle-right {
			font-size: 10px;
			margin-left: 4px;
			transform: rotate(90deg);
			transition: ease 0.3s;
		}
		.lang__item::before {
			background: $blue;
		}
	}

	&__body {
		position: absolute;
		top: 100%;
		left: 0;
		transition: ease-in-out 0.3s;
		// display: none;
		height: 0;
		overflow: hidden;
		z-index: 10;
	}

	&__item {
		cursor: pointer;
		position: relative;
		text-transform: uppercase;
		font-size: 14px;
		font-weight: 600;
		padding-left: 14px;
		padding-bottom: 10px;
		padding-top: 10px;
		&::before {
			transition: ease 0.2s;
			content: "";
			position: absolute;
			transform: translateY(-50%);
			top: 50%;
			left: 0;
			width: 10px;
			height: 10px;
			background: #d1d1d1;
			border-radius: 50%;
		}
		&:hover::before {
			background: $blue;
		}
	}
}

// header end

// footer start

.footer {
	&__top {
		background: #1c1b1b;
	}

	&__content {
		position: relative;
		padding: 45px 0;
	}

	&__block {
		display: flex;
		margin-bottom: 50px;
		flex-wrap: wrap;
		width: 40%;
	}

	&__link {
		font-weight: 400;
		color: $white;
		transition: ease 0.3s;
		&:not(:last-child) {
			margin-bottom: 20px;
			margin-right: 80px;
		}
		&:hover {
			text-decoration-line: underline;
		}
	}

	&__block-center {
		position: absolute;
		transform: translateX(-50%);
		top: 45px;
		left: 50%;
	}
	&__bottom-line {
		background: $black;
	}

	&__rights {
		font-weight: 400;
		cursor: default;
		padding: 23px 0;
		color: $white;
		text-align: center;
	}
}
// footer end

// scroll
.simplebar-track.simplebar-vertical {
	background: #E2E2E2;
	border-radius: 54px;
	width: 5px;
}
.simplebar-scrollbar:before {
	position: absolute;
	content: "";
	background: $yellow;
	border-radius: 54px;
	left: 0;
	right: 0;
	width: 5px;
}
