$icomoon-font-family: "icon" !default;
$icomoon-font-path: "fonts" !default;

$icon-check: "\e900";
$icon-close: "\e901";
$icon-search: "\e902";
$icon-telegram: "\e903";
$icon-triangle-left: "\e904";
$icon-triangle-right: "\e905";
$icon-viber: "\e906";

